*.toc
*.aux
*.bbl
*.bcf
*.fdb_latexmk
*.fls
*.out
*.log
*.run
*.synctex
*.thm
*.gz
*.xml
*.blg
*.jpg
*.tdo
*.gz
*.bcf-SAVE-ERROR
*.bbl-SAVE-ERROR
*.venv
/Rapport/main.pdf

#STM32 Cube IDE .ignores

#settings
.settings/

#metadata
.metadata/

#Debug
Debug/
debug/
Release/
release

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

#

#Vivado

Code/VHDL/ExtMemTest/ExtMemTest.sim/sim_1/

Code/VHDL/ExtMemTest/ADCControl.sim/sim_1/
Code/VHDL/ExtMemTest/ADCControl.sim/synth_1/
Code/VHDL/ExtMemTest/ADCControl.cache/